<div class="ui container">
	<div class="ui  segment header">
		<h2>Computer Science lab</h2>
		<h4>Register fingerprint</h4>
	</div>
	<div class="ui divider"></div>
	<div class="ui white message">
		User: <%= @user.username %>
	</div>
	<div class="ui raised segment">
		<div class="ui two column grid">
			<div class="ui center column">
				<div class="status waiting-for-fingerprint">
					<i class="ui massive hand pointer status icon"></i>
					<div>
						<div class="ui label">Waiting for fingerprint</div>
					</div>
				</div>
				<div class="status waiting-for-match">
					<%= image_tag "outputimage.png", class: "test" %>
					<div>
						<div class="ui orange waiting label">Registering</div>
					</div>
				</div>
			</div>
			<div class="ui center column">
				<div class="status door-unlocked">
					<i class="ui massive unlock status icon"></i>
					<div>
						<div class="ui green label">User registered</div>
					</div>				
				</div>
				<div class="status door-locked">
					<i class="ui massive lock status icon"></i>
					<div>
						<div class="ui red label">Error</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui active inline loader"></div>
	</div>
	<div class="ui blue message waiting-for-fingerprint">
		Place your finger on the fingerprint scanner
	</div>
	<% if Booking.current_booking %>
	<div class="ui message">
		Booking ends in <%= distance_of_time_in_words(Booking.current_booking.end.to_datetime, Time.zone.now.to_datetime) %>
	</div>
	<% end %>
</div>
<script>
	$(".waiting-for-match").hide()
	$(".door-locked").hide()
	$(".door-unlocked").hide()
	$(".loader").hide()
	setTimeout(() => App.fingerprint.scan("Register Fingerprint:<%= @user.username %>", 500))
	cardId = "<%= @user.card_id %>"
</script>